# Environment variables
.env

# Python virtual environment
/.venv/

# Python cache
__pycache__/
*.pyc

# Log files
logs/*.log
*.log

# Databases
*.db
data/chroma_db/
test_chroma_db/

# IDE specific
.idea/

# Node.js
node_modules/
web/ui/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build artifacts
/web/ui/dist/
/build/
/dist/
.next/
