-r requirements.in

# Development & Testing Dependencies
black
mypy
pre-commit
pytest
pytest-asyncio
ruff
types-PyYAML

# Dependencies for running tests and verification scripts
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
anyio
aresponses
attrs
certifi
cfgv
charset-normalizer
click
distlib
distro
exceptiongroup
fastuuid
filelock
frozenlist
fsspec
greenlet
h11
httpcore
httpx
huggingface-hub
identify
idna
importlib-metadata
iniconfig
Jinja2
jiter
jsonschema
jsonschema-specifications
MarkupSafe
multidict
nodeenv
openai
packaging
platformdirs
pluggy
propcache
pydantic
pydantic-core
pyee
pygments
python-dotenv
python-multipart
referencing
regex
requests
rpds-py
sniffio
starlette
tiktoken
tokenizers
tqdm
typing_extensions
typing-inspection
urllib3
virtualenv
yarl
zipp
